{% extends 'blog/base.html' %}
{% load staticfiles %}

    
{% block content %}
        
     <!-- blog starts with pagination *** -->
     <div class="row-fluid">
     	<div class="span8">
            <h1 class="line">Blog</h1>
            {% block pager %}   
                {% if main_list %}
                    {% for blog in main_list.object_list %}
                        <h2 class="blog"><a href="{% url 'blog:news-media-detail' blog.id %}">{{ blog.title }}</a></h2>
                        <div class="blog-date">{{ blog.pub_date }}</div>
                        <img src="{{ blog.image.url }}" vspace="10">
                        <p>{{ blog.body|safe }}</p>
                    {% endfor %}

                    <div class="pagination">
                        <span class="step-links">
                            {% if main_list.has_previous %}
                                <a href="?page={{ main_list.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ main_list.number }} of {{ main_list.paginator.num_pages }}.
                            </span>

                            {% if main_list.has_next %}
                                <a href="?page={{ main_list.next_page_number }}">next</a>
                            {% endif %}
                        </span>
                    </div>
                {% else %}     
                    <div class="blog-post">
                        <h3>No blogs are available.</h3>
                    </div>
                {% endif %}
            {% endblock %}  
        </div>        

        <div class="span4">
            {% block blog %}
                {{ block.super }}
            {% endblock %}

            <br><br>            

            {% block news %}
                {{ block.super }}
            {% endblock %}
        </div>
     </div>
     <!-- blog ends -->
    
{% endblock %}
