{% extends "blog/blog.html" %}

{% block content %}
        
     <!-- blog starts -->
     <div class="row-fluid">
      <div class="span8">
            {% if view_blog_entry %}
            <h1 class="line">Blog</h1>
            {% else %}
            <h1 class="line">Media</h1>
            {% endif %}

            {% block pager %}    
                {% if current_blog %}
                    <h2 class="blog">{{ current_blog.title }}</h2>
                    <div class="blog-date">{{ current_blog.pub_date|date:"j F y"}}</div>
                    <img src="{{ current_blog.image.url }}" vspace="10">
                    <p>{{ current_blog.body|safe }}</p>
                                        
                    <!-- Facebook comment box -->
                    {% if view_blog_entry %}
                      <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-num-posts="2" data-width="470" data-colorscheme="light"></div>
                    {% endif %}
  
                {% endif %}
            {% endblock %}  
        </div>        

        <div class="span4">
            {% block blog %}
                {{ block.super }}
            {% endblock %}

            <br><br>            

            {% block news %}
                {{ block.super }}
            {% endblock %}
        </div>
     </div>
     <!-- blog ends -->
    
{% endblock %}
