{% extends "blog/base.html" %}
{% load staticfiles %}


{% block content %}
    <div class="row-fluid header-background">
        <div class="span6">
            <a href="index.html"><img src="{% static 'blog/img/mpowering_logo.png' %}"></a>
        </div>
        <div class="span6">
            <img src="{% static 'blog/img/home_graphic.png' %}" align="right">
        </div>
    </div>
    <!-- carousell starts -->
    
    <div class="row-fluid">
        <div id="homeCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#homeCarousel" data-slide-to="1"></li>
            <li data-target="#homeCarousel" data-slide-to="2"></li>
            <li data-target="#homeCarousel" data-slide-to="3"></li>
          </ol>
          <!-- Carousel items -->
          <div class="carousel-inner">
            <div class="active item">
                <img src="{% static 'blog/img/carousel/carousel-1.jpg' %}">
                <div class="carousel-caption">
                      <h4>Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'blog/img/carousel/carousel-2.jpg' %}">
                <div class="carousel-caption">
                      <h4>Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'blog/img/carousel/carousel-3.jpg' %}">
                <div class="carousel-caption">
                      <h4>Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
            <div class="item">
                <img src="{% static 'blog/img/carousel/carousel-4.jpg' %}">
                <div class="carousel-caption">
                      <h4>Thumbnail label</h4>
                      <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                </div>
            </div>
          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#homeCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#homeCarousel" data-slide="next">&rsaquo;</a>
        </div>
<!-- 
        <div class="span12 carousell">
        	<div class="carousell-inner">
            <img src="{% static 'blog/img/carousel/carousel-1.jpg' %}">
            </div>
        </div> -->
    </div>
    
    <!-- carousell ends -->
    
    <!-- quote area starts -->
    
    <div class="quote-area">
    mPowering Frontline Health Workers is an innovative public‐private partnership designed to improve maternal and child health by accelerating the use of mobile technology by frontline health workers around the world.
    </div>
    
    <!-- quote area ends -->
    
    <hr>
    
    <!-- links -->
    <div class="row-fluid">
    <div class="span12">
    	<h1>Task Forces</h1>
    	<div class="row-fluid">
            <div class="span6">
            <img src="{% static 'blog/img/content/world-map.gif' %}">
            <h2><strong>Global</strong> Tools</h2>	
            <p>The Global Tools Task Force advises on the development and dissemination of tools, multimedia digital health content, open standards and training materials to support organizations implementing mHealth programs for frontline health workers. The task force will also develop a strategy to accelerate the scale-up of social enterprises offering mHealth products and services for health workers. The task force is co-chaired by iHeed and the Open Concept Lab.</p>
            <p>
            <strong>Activity:</strong> The task force has completed a landscape assessment that outlines options for the development of an online digital content repository/ marketplace. A strategic workshop was held in December 2012 to review the landscape findings and select a preferred model for the online platform.</p> 
            </div>
            <div class="span6">
            <img src="{% static 'blog/img/content/world-map-x2.gif' %}">
            <h2>Country <strong>Scale Up</strong></h2>
            <p>The Country Program Task Force advises on the development of country plans for targeted technical assistance to support the scale-up of existing mHealth initiatives. Targeted technical assistance may include policy support, operations research, evaluation, implementation support, business modeling, stakeholder engagement, documentation, and/or catalytic funding for the development of evidence-based prototype applications. The task force is co-chaired by UNICEF, Absolute Return for Kids and the MDG Health Alliance.</p>
            <p>
            <strong>Activity:</strong> Using criteria including partner resources, mobile penetration and government support, the task force has selected focus countries: India, Nigeria, Uganda, Tanzania, Kenya, and Mozambique. </p>
            </div>
        </div>
            	<div class="row-fluid">
            <div class="span6">
            <img src="{% static 'blog/img/content/research.gif' %}">
            <h2><strong>Research</strong> & Evaluation</h2>	
            <p> The Research and Evaluation Task Force advises on a strategy to build the evidence base on the use of mHealth to improve performance and accountability of frontline health workers. The task force will develop tools to help governments, managers and funders make evidence-based decisions on the use of mobile technology to improve the quality, efficiency and coverage of health interventions. The task force is co-chaired by the Johns Hopkins University Global mHealth Initiative and Vital Wave Consulting.</p>
           <p>
            <strong>Activity:</strong> The task force has drafted a theory of change and a set of focal questions that will inform both the partnership and global mHealth research agendas.</p>
            </div>
            <div class="span6">
            <img src="{% static 'blog/img/content/cellphone.gif' %}">
            <h2><strong>Communication</strong> & Advocacy</h2>
            <p> The Advocacy Task Force advises on the development of a strategy to inform the global health community of the variety of ways mobile technology can support accountability and performance of frontline health workers. The task force is co-chaired by GlaxoSmithKline and the Praekelt Foundation.</p>
           <p>
            <strong>Activity:</strong> The task force has developed a draft communications strategy with key audiences, messages and communications channels. In support of this task force, the Praekelt Foundation has created a partnership website, an animated video, a logo, presentation templates and a social media strategy. </p>
            </div>
        </div>
    </div>
    </div>
    <!-- links end -->
    
        <hr>
        
    <div class="row-fluid">
        <div class="span8">
            {% block blog %}
                {{ block.super }}
            {% endblock %}
        </div>
        <div class="span4">
        <h1 class="line">On Twitter</h1>
        </div>
    </div>
    
    <hr>
    
    <div class="row-fluid">
    	<div class="span12">
        	<h1 class="line">Founding Members</h1>
            	<div class="row-fluid founding-members">
            		<div class="span2"><img src="{% static 'blog/img/founding/praekelt.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/us-aid.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/mdg.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/unicef.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/qualcomm.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/mHealthA.gif' %}">
                    </div>
                </div>
            	<div class="row-fluid founding-members-sub">
            		<div class="span1">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/ark.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/gsk.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/vodacom.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/intel.gif' %}">
                    </div>
					<div class="span2"><img src="{% static 'blog/img/founding/frontline.gif' %}">
                    </div>
                    <div class="span1">
                    </div>
                </div>
        </div>
    </div>
{% endblock %}
