{% extends 'blog/base.html' %}
{% load staticfiles %}

     
{% block content %}
     <!-- blog starts -->
     <div class="row-fluid">
     	<div class="span12">
        <h1 class="line">Founding Partners</h1>
        </div>
        <div class="row-fluid">
        	<div class="span4">
            <img src="{% static 'blog/img/partners/vodafone.jpg' %}">
Vodafone is one of the world's largest mobile communications companies by revenue with approximately 404 million customers in its controlled and jointly controlled markets as of 31 March 2013. Vodafone currently has equity interests in over 30 countries across five continents and more than 50 partner networks worldwide. For more information, please visit: www.vodafone.com
<br>
<strong>Contribution:</strong>
Vodafone recently announced a partnership with another mPowering founder partner, GlaxoSmithKline, for an immunization pilot in Mozambique using Vodafone’s Mezzanine platform to increase immunization rates.

            </div>
            <div class="span4">
            <img src="{% static 'blog/img/partners/FrontlineHealth.jpg' %}">
The Frontline Health Workers Coalition is an alliance of United States-based organizations working together to urge greater and more strategic U.S. investment in frontline health workers in developing countries as a cost-effective way to save lives and foster a healthier, safer and more prosperous world. The Coalition encourages the U.S. government to help train and deploy these frontline health workers as part of a comprehensive health workforce strengthening strategy, and to invest in countries that have severe health worker shortages and in which the U.S. is already making a substantial investment to improve health through its Global Health Initiative. <br> 
<strong>Contribution:</strong><br>
The Frontline Health Workers Coalition will distribute engagement opportunities to their 30+ members’ organizations, including the possibility that to test, evaluate and scale up programs. It also will promote the partnership with USG and global stakeholders.

            </div>
            <div class="span4">
            <img src="{% static 'blog/img/partners/mdg.jpg' %}">
The MDG Health Alliance is comprised of eminent leaders from the private, public, and nonprofit sectors working in conjunction with the Health and Education Cluster of the Secretary General's MDG Advocates to support country efforts to accelerate progress toward achieving the health-related Millennium Development Goals (MDGs 4, 5 and 6). The MDG Health Alliance is initiated and led by Ray Chambers, MDG Advocate and United Nations Secretary General's Special Envoy for Financing the Health Millennium Development Goals and for Malaria. They seek to fulfill the vision articulated in the UN Secretary-General's Every Woman Every Child movement by coordinating private-public partnerships in support of the UN and broader efforts. 
<br>
<strong>Contribution:</strong><br>
The MDG Health Alliance is contributing to the crowdsourcing platform and to country-scale up and is a co-chair of the Country Program Task Force

            </div>
        </div>
                <div class="row-fluid">
        	<div class="span4">
            <img src="{% static 'blog/img/partners/mHealth.jpg' %}">
The mHealth Alliance leverages the game-changing potential of mobile technology in pursuit of transformed health outcomes for billions of the world’s most vulnerable people. To this end , the mHealth Alliance brings together experts from every side- health, government, technology, development- to spark new connections and drive collective action for mainstreaming mHealth.  The Alliance powers Health Unbound (HUB), a global online interactive network and knowledge resource center, and serves as secretariat to two innovative partnerships, the Mobile Alliance for Maternal Action (MAMA) and mPowering Frontline Health Workers. 
<br>
<strong>Contribution:</strong><br>
The mHealth Alliance serves as the Partnership Secretariat. Through its Health Unbound platform and networks, the mHealth Alliance will support the sharing and dissemination of reports, research findings and other papers produced as a result of mPowering Frontline Health Worker activities. It will also provide support to help scale up mHealth programs in at least two countries, including a partnership with Qualcomm in India.  The Alliance will also play a role in the partnership’s communications and advocacy strategy 

            </div>
            <div class="span4">
          <img src="{% static 'blog/img/partners/praekelt.jpg' %}">
Praekelt Foundation builds open source, scalable mobile technologies and solutions to improve the health and wellbeing of people living in poverty. Our programmes have reached over 50 million people across 15 countries in sub-Saharan Africa. 
<br>
<strong>Contribution:</strong><br>
Praekelt Foundation is defining and developing visual elements, websites and presentations, as well as assisting in the design and development of mobile tools required for the communicating, and  research and evaluation outcomes. Praekelt is also a co-chair of the Advocacy Task Force. 

            </div>
            <div class="span4">
            <img src="{% static 'blog/img/partners/unicef.jpg' %}">
UNICEF is the driving force that helps build a world where the rights of every child are realized. They have the global authority to influence decision-makers, and the variety of partners at grassroots level to turn the most innovative ideas into reality. They advocate for measures to give children the best start in life, because proper care at the youngest age forms the strongest foundation for a person’s future.    
<strong>Contribution:</strong><br>
UNICEF is leveraging its in-country presence and technical expertise in mHealth initiatives to support the mPowering FLHW partnership. It is also co-chair of the Country Programs Task Force

            </div>
        </div>
                <div class="row-fluid">
        	<div class="span4">
           <img src="{% static 'blog/img/partners/qualcomm.jpg' %}">
Qualcomm believes access to 3G and next-generation mobile technologies can improve people’s lives. Qualcomm’s Wireless ReachTM initiative is a strategic program that brings wireless technology to underserved communities globally. By working with partners, Wireless Reach invests in projects that foster entrepreneurship, aid in public safety, enhance the delivery of heath care, enrich teaching and learning and improve environmental sustainability. for more information, please visit www.qualcomm.com/wirelessreach.<br> 
<strong>Contribution:</strong>
Qualcomm is providing technical and strategic direction as well as communications support, monitoring and evaluation, and planning around marketing. Initial support will be for the design, scale up and evaluation of a country program in India. 

            </div>
            <div class="span4">
           <img src="{% static 'blog/img/partners/glaxosmithkline.jpg' %}">
GlaxoSmithKline is a science-led global healthcare company that researches and develops a broad range of innovative medicines and vaccines brands. GSK products are used by millions of people around the world, helping them to do more, feel better and live longer.<br>
<strong>Contribution:</strong><br>
GlaxoSmithKline is providing technical capacity expertise with regard to the appropriate use of medicines and vaccines, sustainable business modeling and health workforce training models and using communications channels to help promote the partnership. GSK is co-chair of the Advocacy Task Force and has also seconded a GSK Communications Fellow to the partnership for 3 months to provide tailored communications and marketing support for the mPowering FLHW Partnership.

            </div>
            <div class="span4">
            <img src="{% static 'blog/img/partners/ark.jpg' %}">
ARK is an international organization whose purpose is to transform children's lives. Originally set up by leaders of the alternative investment industry, ARK delivers high social returns on our philanthropy, leveraging intellectual, financial and political investment. ARK is headquartered in the UK and their work focuses on health, education and child protection around the globe. <br>
<strong>Contribution:</strong><br>
Absolute Return for Kids is providing technical capacity and networks for the mPowering Frontline Health Workers partnership.

            </div>
        </div>
        
        
        
                  <div class="row-fluid">
        	<div class="span4">
           <img src="{% static 'blog/img/partners/USAid.jpg' %}">
Today, USAID staff work in more than 100 countries around the world with the same overarching goals that President Kennedy outlined 50 years ago – furthering America's foreign policy interests in expanding democracy and free markets while also extending a helping hand to people struggling to make a better life, recover from a disaster or striving to live in a free and democratic country. It is this caring that stands as a hallmark of the United States around the world. 
<br>
<strong>Contribution:</strong><br>
USAID is providing strategic guidance and funding for all partnership components.


            </div>
            <div class="span4">
          <img src="{% static 'blog/img/partners/intel.jpg' %}">
Intel is a global technology corporation that designs and manufactures advanced integrated digital technology platforms. .  Intel’s mission is to create and extend computing technology to connect and enrich the lives of every person on earth. 
<strong>Contribution:</strong><br>
Intel is contributing its health and education expertise, solution architecture support, technical training and technology information and best practices for ICT projects. They will also contribute to the creation of digital learning content to support development of digital health content library. Intel is also provide local healthcare business development manager support for in-country projects and marketing and communications support for joint collaterals, industry events, and press and analyst activities.


            </div>
            <div class="span4">
            

            </div>
        </div>
        
        
        </div>
       
     <!-- blog ends -->
{% endblock %}
