{% extends 'blog/base.html' %}
{% load staticfiles %}

     
{% block content %}
     <!-- blog starts -->
     <div class="row-fluid">
      <div class="span12">
        <h1 class="line">RESOURCES</h1>
      </div>
    </div>           
           <div class="row-fluid">
           <div class="span12">
              <div class="objectives-one">
                
                
                
                <p>&nbsp;</p>
<h2>Resources</h2>
           Arriving Shortly
                
</div>
            </div>
            </div>
           
   
        </div>
       
     
     <!-- blog ends -->

{% endblock %}
