{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row-fluid">
        <!-- list latest external articles -->
        <div class="row-fluid">
            <h2 class="line">Reports &amp; Documents</h2>

            {% if list_reports %}
            {% for report_item in list_reports %}
                <div class="span4">
                    <img src="{{ report_item.item.url }}" vspace="10"><br>
                    <strong><a class="blog" href="{% url 'blog:news-media-detail' report_item.id %}">{{report_item.title}}</a></strong>
                    <div class="blog-date">{{ report_item.pub_date|date:"j F y"}}</div>
                </div>
                
            {% endfor %}
            {% else %}
                <div class="media-release-sub">
                <strong>No reports currently available.</strong>
                </div>
            {% endif %}

        </div>

        <div class="row-fluid">
            <h2 class="line">Presentations</h2>
            <br>

            {% if list_presentations %}
                {% for present_item in list_presentations %}
                    <div class="span10">
                        <h4>{{ present_item.title }}</h4><div class="blog-date">{{ present_item.pub_date|date:"j F y"}}</div>

                        <iframe src="http://www.slideshare.net/slideshow/embed_code/{{present_item.presentation_id}}" width="600" height="488" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>
                    </div>
                    <br>
                {% endfor %}
            {% else %}


            {% endif %}

        </div>
                 
           
    </div>

{% endblock %}