{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
      <div class="span12">
        <h1 class="line">RESOURCES</h1>
      </div>
      </div>
      <br />

    <div class="row-fluid">
    <div class="span8">
        <!-- list latest external articles -->
        <div class="row-fluid">
            <h2 class="line-resources">External Articles</h2>

            {% block external_articles %}
            {% if list_news_links %}
              {% for news_item in list_news_links %}
                  <h3 class="resources"><a class="blog" href="{{news_item.link}}">{{news_item.title}}</a></h3>
                  <p><strong>{{news_item.publication_name}}</strong> | {{ news_item.pub_date|date:"j F y"}}</p>
                  <p>{{ news_item.burb|safe }}</p>
                  <hr class="resources" />
              {% endfor %}
              {% else %}
                  <div class="media-release-sub">
                  <strong>No news articles currently available.</strong>
                  </div>
                  <hr class="resources" />
              {% endif %}
                
                <a href="{% url 'blog:resources_news_articles_list_all' True %}">View more articles...</a>
            {% endblock %}

        </div>
           
        <!-- list of latest press release articles -->
        <div class="row-fluid">
        <br />
            <h2 class="line-resources">Press Releases</h2>

            {% block press_releases %}
            {% if list_news %}
            {% for news_item in list_news %}
                <h3 class="resources"><a class="blog" href="{% url 'blog:news-media-detail' news_item.id news_item.slug %}">{{news_item.title}}</a></h3>
                <div class="blog-date">{{ news_item.pub_date|date:"j F y"}}</div>
                <!--img src="{{ news_item.image.url }}" vspace="10"-->
                <!-- <p>{{ news_item.body|safe }}</p> -->
                <hr class="resources" />
            {% endfor %}
            {% else %}
                <div class="media-release-sub">
                <strong>No news articles currently available.</strong>
                </div>
            {% endif %}
            {% endblock %}

            
            <a href="{% url 'blog:resources_news_articles_list_all' False %}">View more articles...</a>
        </div>
    </div>
    
     <div class="span4">
           <ul class="right-links unstyled">
           <li><a href="{% url 'blog:resources_news_articles' %}">In the News</a></li>
               
               <li><a href="{% url 'blog:resources_reports_documents' %}">Reports and Documents</a></li>
               
               <li><a href="{% url 'blog:resources_videos' %}">Featured Videos</a></li>
               <li><a href="{% url 'blog:resources_calendar' %}">Calendar</a></li>
               <li><a href="{% url 'blog:resources_news_articles' %}">Map of Africa and India</a></li>
               </ul>
          </div>
    
    </div>
    
    
    
    

{% endblock %}
