{% extends 'blog/base.html' %}
{% load staticfiles %}
     
{% block content %}
     <!-- blog starts -->
     <div class="row-fluid">
        <div class="span12">
            <h1 class="line">Map of Africa and India</h1>
        </div>
        <div class="row-fluid">
            <div class="span12" id="map">
                <iframe src='https://api.tiles.mapbox.com/v3/nathanfloor.gi77fl7c.html' width='100%' height='600'></iframe>
            </div>
        </div>

    <div id='output'>
        click: <code id='click'></code><br/>
        mousemove: <code id='mousemove'></code><br/>
    </div>
       
    <script>
        var click = document.getElementById('click'),
            mousemove = document.getElementById('mousemove');

        var map = L.mapbox.map('map', 'nathanfloor.gi77fl7c');

        map.on('mousemove click', function(e) {
            window[e.type].innerHTML = e.containerPoint.toString() + ', ' + e.latlng.toString();
        });



    </script>

    <script src='//api.tiles.mapbox.com/mapbox.js/v1.6.0/mapbox.js'></script>

     <!-- blog ends -->
{% endblock %}
