{% extends 'blog/base.html' %}
{% load staticfiles %}

{% block content %}

    <div class="row-fluid">
        <!-- list latest external articles -->
        <div class="row-fluid">
            <h2 class="line">Reports &amp; Documents</h2>

            {% if list_reports %}
            {% for report_item in list_reports %}
                <div class="span4">
                    <img src="{{ report_item.item.url }}" vspace="10"><br>
                    <strong><a class="blog" href="{% url 'blog:news-media-detail' report_item.id %}">{{report_item.title}}</a></strong>
                    <div class="blog-date">{{ report_item.pub_date|date:"j F y"}}</div>
                </div>
                
            {% endfor %}
            {% else %}
                <div class="media-release-sub">
                <strong>No news articles currently available.</strong>
                </div>
            {% endif %}

        </div>
           
    </div>

{% endblock %}