{% extends 'blog/resources.html' %}
{% load staticfiles %}

{% block content %}

<div class="row-fluid">
      <div class="span12">
        <h1 class="line">RESOURCES</h1>
      </div>
      </div>
      <br />

    {% block pager %}
      
    <div class="row-fluid">
    <div class="span9 side-line-resources">
        <div class="row-fluid">
             <h2 class="heading-resources">
                              <img src="{% static 'blog/img/icons/ico_reports.jpg' %}">Reports and Documents</h2>
            <div class="row-fluid">
            {% if report_list %}
            {% for report_item in report_list.object_list %}
                <div class="span4">
                    <img src="{{ report_item.thumbnail.url }}" vspace="10"><br>
                    <strong><a class="blog" href="{{ report_item.item.url }}">{{report_item.title}}</a></strong>
                    <div class="blog-date">{{ report_item.pub_date|date:"j F y"}}</div>
                </div>                
            {% endfor %}
            </div>
            <br>
            <div class="span10">
            <div class="pagination">
                <span class="step-links">
                    {% if report_list.has_previous %}
                        <a href="?page={{ report_list.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ report_list.number }} of {{ report_list.paginator.num_pages }}.
                    </span>

                    {% if report_list.has_next %}
                        <a href="?page={{ report_list.next_page_number }}">next</a>
                    {% endif %}
                </span>
            </div>       
            </div>

            {% else %}
                <div class="media-release-sub">
                <strong>No reports currently available.</strong>
                </div>
            {% endif %}           

        </div>
        <hr class="resources" />

        <div class="row-fluid">
              <h2 class="heading-resources">
                              <img src="{% static 'blog/img/icons/ico_presentation.jpg' %}">                Presentations</h2>
            <br>

            {% if present_list %}
                {% for present_item in present_list.object_list %}
                    <div class="span10">
                        <h4>{{ present_item.title }}</h4><div class="blog-date">{{ present_item.pub_date|date:"j F y"}}</div>

                        <iframe src="http://www.slideshare.net/slideshow/embed_code/{{present_item.presentation_id}}" width="600" height="488" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen> </iframe>
                    </div>
                    <br>
                {% endfor %}


                <div class="span10">
                <div class="pagination">
                    <span class="step-links">
                        {% if present_list.has_previous %}
                            <a href="?page={{ present_list.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ present_list.number }} of {{ present_list.paginator.num_pages }}.
                        </span>

                        {% if present_list.has_next %}
                            <a href="?page={{ present_list.next_page_number }}">next</a>
                        {% endif %}
                    </span>
                </div>                
                </div>
            {% else %}
                <div class="media-release-sub">
                <strong>No presentations currently available.</strong>
                </div>
            {% endif %}

        </div> 
        </div>
         {% block minimenu %}
            {{ block.super }}
         {% endblock %}
    </div>

  {% endblock %}

{% endblock %}