{% extends 'blog/resources.html' %}
{% load staticfiles %}

{% block content %}
<div class="row-fluid">
      <div class="span12">
        <h1 class="line">RESOURCES</h1>
      </div>
      </div>
      <br />

        <!-- list latest external articles -->

<div class="row-fluid">
<div class="span8">
            <h2 class="line-resources">Calendar</h2>

            <iframe src="https://www.google.com/calendar/embed?src=sle4clciqkn62kpo6156fpg31o%40group.calendar.google.com&amp;ctz=Africa/Johannesburg" style="border: 0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
            
        </div>
     {% block minimenu %}
      {{ block.super }}
     {% endblock %}
        </div>
     }
      }
      }
    

{% endblock %}