{% extends 'blog/base.html' %}
{% load staticfiles %}

     
{% block content %}
    <div class="row-fluid">
      <div class="span9">
        <h1 class="line">RESOURCES</h1>
      </div>

       <div class="span3">
              <h3>Resources</h3>
              <div class="blog-post-heading-sub"><a href="{% url 'blog:resources_news_articles' %}">News Articles</a></div>
              <div class="blog-post-heading-sub"><a href="{% url 'blog:resources_reports_documents' %}">Reports and Documents</a></div>
              <div class="blog-post-heading-sub"><a href="{% url 'blog:resources_videos' %}">Featured Videos</a></div>
              <div class="blog-post-heading-sub"><a href="{% url 'blog:resources_news_articles' %}">Calendar</a></div>
              <div class="blog-post-heading-sub"><a href="{% url 'blog:resources_news_articles' %}">Map</a></div>
        </div>
    </div>

        <div class="row-fluid">
        <div class="span9">
            <div class="objectives-one">

              <!-- list latest external articles -->
              <br>
              <div class="row-fluid">
                <h2 class="line">External Articles</h2>

                <a href="{% url 'blog:resources_news_articles_list_all' True %}">View more articles...</a>

              </div>
                 
              <!-- list of latest press release articles -->
              <div class="row-fluid">
                  <h2 class="line">Press Releases</h2>
                  {% if list_news %}
                  {% for news_item in list_news %}
                      <h3><a class="blog" href="{% url 'blog:news-media-detail' news_item.id %}">{{news_item.title}}</a></h3>
                      <div class="blog-date">{{ news_item.pub_date|date:"j F y"}}</div>
                      <img src="{{ news_item.image.url }}" vspace="10">
                      <!-- <p>{{ news_item.body|safe }}</p> -->
                  {% endfor %}
                  {% else %}
                      <div class="media-release-sub">
                      <strong>No news articles currently available.</strong>
                      </div>
                  {% endif %}

                  <br>
                  <a href="{% url 'blog:resources_news_articles_list_all' False %}">View more articles...</a>
              </div>

              <!-- list of latest reports and documents -->
              <div class="row-fluid">
                <h2 class="line">Reports and Documents</h2>
              </div>                

              <!-- list of latest video links -->
              <div class="row-fluid">
                <h2 class="line">Featured Videos</h2>
              </div>
              
          </div>
        </div>

        </div>          
     
{% endblock %}
