{% extends 'blog/base.html' %}
{% load staticfiles %}
    
{% block header %}
 <div class="navbar navbar-fixed-top navbar-bgcolor">
      <!-- <div class="navbar-inner"> -->
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="brand" href="#">Project name</a> -->
          <div class="nav-collapse collapse">
            <ul class="nav nav-tabs">
                <li><a href="{% url 'blog:index' %}">HOME</a></li>
                <li class="active"><a href="{% url 'blog:task-forces' %}">OBJECTIVES</a></li>
                <li><a href="{% url 'blog:partners' %}">PARTNERS</a></li>
                <li><a href="{% url 'blog:news-media' %}">NEWS &amp; MEDIA</a></li>
                <li><a href="{% url 'blog:resources' %}">RESOURCES</a></li>
                <li><img src="{% static 'blog/img/icons/ico_contact.png' %}"></li>
                <li><img src="{% static 'blog/img/icons/ico_twitter.png' %}"></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      <!-- </div> -->
    </div>
	<div class="row-fluid header-background">
		<div class="span6">
        <a href="{% url 'blog:index' %}"><img src="{% static 'blog/img/mpowering_logo.png' %}"></a>
        </div>
        <div class="span6">
        &nbsp;
        </div>
    </div>
{% endblock %}
     
{% block content %}
     <!-- blog starts -->
     <div data-spy="scroll" data-target="#scroll-navbar" class="row-fluid">
      <div class="span12">
        <h1 class="line">Objectives</h1>
        
        <div class="row-fluid">
        <div class="span12" id="scroll-navbar">
            <ul class="inline" style="width: 85%;text-align:center">
                <li style="width:30%">
                <h3><a href="#sourcing-content">Sourcing Content</a></h3>
                </li>
                <li style="width:30%">
                <h3><a href="#county-programs">Country Programs</a></h3>
                </li>
                <li style="width:30%">
                <h3><a href="#global-learning">Global Learning</a></h3>
                </li>
                </ul>
                
        </div>
        </div>
           
           <div class="row-fluid">
           <div class="span12">
              <div class="objectives-one" id="sourcing-content">
                <h2>Sourcing Content</h2>
                The sourcing content activity will include three components: crowdsourcing platform, content library, and digital dictionary.
<ul>
<li>Crowdsourcing platform: This platform will provide multimedia, multilingual mobile‐ready digital content (e.g. SMS, video, voice messages, animation, and images) that focuses on supporting frontline health workers to deliver effective services to their communities. </li>
<li>Content library: An online repository of digital health content (e.g., SMS, IVR, video, audio, images, animation), the content library will be downloadable and integrated into technology applications by mobile operators, NGOs, social enterprises and governments to improve the effectiveness of hundreds of thousands of health workers around the world.
</li>
<li>Digital dictionary: The partnership will create content standards using a 'digital dictionary' to improve integration across multiple mHealth applications, to reduce duplicated efforts, and to facilitate interoperability and comparability across a variety of technologies, languages and formats. </li>
</ul>
The Global Tools Task Force <<insert hyperlink>> is leading the effort in advising on crowdsourcing content and the development of global tools to support organizations implementing mHealth programs for frontline health workers. A landscape assessment has been undertaken which outlines options for the development of an online digital content repository/ marketplace using a cloud-based platform. A strategic workshop was held in December 2012 to review the landscape findings and select the preferred model for the online platform. 
</div>
            </div>
            </div>
           <div class="row-fluid">
           <div class="span12">
           <div class="objectives-two" id="county-programs">
              <h2>Country Programs</h2>
                <p>
                mPowering Frontline Health Workers will accelerate the scale‐up of programs in at least three countries and develop sustainable models for localizing and delivering content‐based mHealth applications for frontline health workers through partnerships with the public, NGO and private sectors. 
</p>
<p>
Country programs will test and validate the content and standards developed through this partnership, and catalyze multi‐stakeholder coalitions to support the development of sustainable financing and operational models needed to deploy and sustain mHealth for frontline health workers at scale. mPowering Frontline Health Workers will support scale up of  successful prototypes/pilots where there is a healthy enabling environment, including leadership from local governments and strong support from the corporate sector, mobile operators and other key stakeholders. In the case of new programs, countries will build for scale by integrating the content and standards developed under this partnership with the appropriate mHealth tools and technology required for large‐scale deployment. The Country Program Task Force <<insert hyperlink>> provided thought leadership on the prioritization and selection of the mPowering countries: Nigeria, India, Mozambique, Tanzania, Kenya, and Uganda.
</p>
</div>
            </div>
            </div>
           <div class="row-fluid">
           <div class="span12">
           <div class="objectives-one" id="global-learning">
              <h2>Global Learning</h2>
               <p> The Global Learning component of the partnership will generate evidence to support advocacy efforts to mobilize resources from funders, investors and governments; build the evidence base for mHealth applications for frontline health workers; and improve the design of future mHealth initiatives. 
The partnership will invest in monitoring and evaluation of all activity areas and will share experiences and impact through an online global learning platform, social media, peer‐reviewed research journals, and presentations at various conferences. The Research and Evaluation Task Force <<insert hyperlink>> is leading the global learning activities to build the evidence base for mHealth interventions. 
</p>

<strong>Nigeria:</strong>
<p>
USAID, UNICEF, Intel and the mHealth Alliance are working together to support the goals of the Government of Nigeria's ‘Saving One Million Lives’ program. The mHealth Alliance is developing an overall eHealth strategy to support SOML, and has identified several opportunities to harness mobile technology at scale to improve the skills and performance of frontline health workers. A partnership strategy for Nigeria is under development, building on these initial findings.</p>
</div>
            </div>
            </div>
   
        </div>
       
     </div>
     <!-- blog ends -->

{% endblock %}

{% block footer %}
    <li><a href="{% url 'blog:index' %}">HOME</a></li>
    <li>OBJECTIVES</li>    
    <li><a href="{% url 'blog:partners' %}">PARTNERS</a></li>    
    <li><a href="{% url 'blog:news-media' %}">NEWS &amp; MEDIA</a></li>
    <li><a href="{% url 'blog:resources' %}">RESOURCES</a></li>
{% endblock %}
